<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PerfectWeather</title>
    <link href="../styles/stylesheet.css" rel="stylesheet">
</head>
<body>

<!--Navigation Bar-->
<nav id="nav-bar"></nav>

<!--Section with -->
<section id="s1" class="containers">
    <div id="icon" class="weatherDiv"></div>
    <div id="info" class="weatherDiv"></div>
</section>


<section id="s2" class="containers"></section>


<section id="s3" class="containers"></section>






</body>
</html>